<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <title>Vue-js | Django | Crud App</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="description" content="A simple crud app made with the vue js and django">
<meta name="keywords" content="vuejs, django, crudapp, restapi">
 <!--bootstap-->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- boostrap css -->
</head>
<body>
  <div id="starting">
      <div class="container">
        <div class="row">
          <h1>List of Customers
          <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#addCustomerModal">ADD CUSTOMER</button>
          </h1>
          <form v-on:submit.prevent="getCustomers()">
            <input class="form-group" v-on:keyup="getCustomers()" type="text" v-model="query"/>
            <button class="btn btn-info" type="submit">Search</button>
          </form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="customer in customers">
                <th scope="row">${customer.customer_id}</th>
                <td>${customer.customer_name}</td>
                <td>${customer.customer_description}</td>
                <td>
                  <button class="btn btn-info" v-on:click="getCustomer(customer.customer_id)">Edit</button>
                  <button class="btn btn-danger" v-on:click="deleteCustomer(customer.customer_id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>

      <!-- Add Customer Modal -->
          <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">ADD CUSTOMER</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit="addCustomer()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="customer_name">Customer Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="customer_name"
                        placeholder="Enter Customer Name"
                        v-model="newCustomer.customer_name"
                        required="required" >
                    </div>
                    <div class="form-group">
                        <label for="customer_location_street">Customer Location</label>
                        <input
                          type="text"
                          class="form-control"
                          id="customer_location_street"
                          placeholder="Enter Street Name"
                          v-model="newCustomer.customer_location_street"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_houseNumber"
                          placeholder="Enter House Number"
                          v-model="newCustomer.customer_location_houseNumber"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_postalCode"
                          placeholder="Enter Postal Code"
                          v-model="newCustomer.customer_location_postalCode"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_municipality"
                          placeholder="Enter Municipality"
                          v-model="newCustomer.customer_location_municipality"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_extra"
                          placeholder="Enter Additions (box, apt., etc..)"
                          v-model="newCustomer.customer_location_extra">
                      </div>
                    <div class="form-group">
                      <label for="customer_description">Customer Description</label>
                      <textarea
                        class="form-control"
                        id="customer_description"
                        placeholder="Enter Customer Description"
                        v-model="newCustomer.customer_description"
                        rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <!-- End of customer modal -->
          <!-- Edit Customer Modal -->
          <div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">EDIT CUSTOMER</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit="updateCustomer()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="customer_name">Customer Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="customer_name"
                        placeholder="Enter Customer Name"
                        v-model="currentCustomer.customer_name"
                        required="required" >
                    </div>
                    <div class="form-group">
                        <label for="customer_location_street">Customer Location</label>
                        <input
                          type="text"
                          class="form-control"
                          id="customer_location_street"
                          placeholder="Enter Street Name"
                          v-model="currentCustomer.customer_location_street"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_houseNumber"
                          placeholder="Enter House Number"
                          v-model="currentCustomer.customer_location_houseNumber"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_postalCode"
                          placeholder="Enter Postal Code"
                          v-model="currentCustomer.customer_location_postalCode"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_municipality"
                          placeholder="Enter Municipality"
                          v-model="currentCustomer.customer_location_municipality"
                          required="required" >
                          <input
                          type="text"
                          class="form-control"
                          id="customer_location_extra"
                          placeholder="Enter Additions (box, apt., etc..)"
                          v-model="currentCustomer.customer_location_extra">
                      </div>
                    <div class="form-group">
                      <label for="customer_description">Customer Description</label>
                      <textarea
                        class="form-control"
                        id="customer_description"
                        placeholder="Enter Customer Description"
                        v-model="currentCustomer.customer_description"
                        rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
              </div>
            </div>
          </div>
          <!-- End of edit customer modal -->
    </div>
<!--bootrtap js files -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <!--vue.js files-->
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
 <script type="text/javascript">
  new Vue({
    el: '#starting',
    delimiters: ['${','}'],
    data: {
    customers: [],
    loading: false,
    currentCustomer: {},
    message: null,
    newCustomer: { 'customer_name': null,
    'customer_location_street': null,
    'customer_location_houseNumber': null,
    'customer_location_municipality': null,
    'customer_location_postalCode': null, 
    'customer_location_extra': null, 
    'customer_description': null },
    query: '',
  },
  mounted: function() {
  created: this.getCustomers(this.query);
},
methods: {
    getCustomers: function () {
        this.loading = true;
        this.$http.get('/api/customer/?q='+this.query)
            .then((response) => {
                this.customers = response.data;
                this.loading = false;
            })
            .catch((err) => {
                this.loading = false;
                console.log(err);
            })
    },
    getCustomer: function (id) {
      console.log(id)
        this.loading = true;
        this.$http.get('/api/customer/'+id+'/')
            .then((response) => {
                this.currentCustomer = response.data;
                $("#editCustomerModal").modal('show');
                this.loading = false;
            })
            .catch((err) => {
                this.loading = false;
                console.log(err);
            })
    },
    addCustomer: function () {
        this.loading = true;
        this.$http.post('/api/customer/', this.newCustomer)
            .then((response) => {
                this.loading = false;
                this.getCustomers();
            })
            .catch((err) => {
                this.loading = false;
                console.log(err);
            })
    },
    updateCustomer: function () {
        this.loading = true;
        this.$http.put('/api/customer/'+this.currentCustomer.customer_id+'/', this.currentCustomer)
            .then((response) => {
                this.loading = false;
                this.currentCustomer = response.data;
                this.getCustomer();
            })
            .catch((err) => {
                this.loading = false;
                console.log(err);
            })
    },
    deleteCustomer: function (id) {
        this.loading = true;
        this.$http.delete('/api/customer/'+id+'/')
            .then((response) => {
                this.loading = false;
                this.getCustomers();
            })
            .catch((err) => {
                this.loading = false;
                console.log(err);
            })
    }
}
});
  </script>
</body>
</html>
